body {
    background-image: url(assets/Cloudy.svg);
    background-size: cover;
  }
h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  text-align: center;
  color: aliceblue;
  margin-top: 0.5rem;
  margin-bottom: -2rem;
}
  .slider {
    width: 42.5em;
    margin: 3.125em auto;
    box-shadow: 0 0.625em 1.25em 0.313em rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
  }
  .slider input[name="switch"] {
    display: none;
  }
  .switch {
    text-align: end;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .switch label {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    cursor: pointer;
    margin: 0 0.188em;
    border-radius: 50%;
    border: 0.25em solid #7bacff;
    background-color: #7bacff;
  }
  #btn1:checked~ .underslides > .switch label[for="btn1"] {
    background-color: #ffffff;
  }
  #btn2:checked~ .underslides > .switch label[for="btn2"] {
    background-color: #ffffff;
  }
  #btn3:checked~ .underslides > .switch label[for="btn3"] {
    background-color: #ffffff;
  }
  #btn4:checked~ .underslides > .switch label[for="btn4"] {
    background-color: #ffffff;
  }
  #btn5:checked~ .underslides > .switch label[for="btn5"] {
    background-color: #ffffff;
  }
  .slider-inner {
    overflow: hidden;
    height: 21.25em;
    width: 42.5em;
    padding-top: 10px;
  }
  .slides {
    display: flex;
    gap: 21.875em;
    margin-left: 13em;
    transition: all 0.5s;
  }
  .slides img {
    width: 42.5em;
    height: 21.25em;
    float: left;
    object-fit: contain;
    border-radius: 5%;
  }
  #btn1:checked~slider-inner slides {
    transform: translate(0);
  }
  #btn2:checked~.slider-inner .slides {
    transform: translate(-51.25em);
  }
  #btn3:checked~.slider-inner .slides {
    transform: translate(-102.813em);
  }
  #btn4:checked~.slider-inner .slides {
    transform: translate(-145.938em);
  }
  #btn5:checked~.slider-inner .slides {
    transform: translate(-200em);
  }
  .text {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    color: aliceblue;
    width: 10em;
    text-align: start;
    margin-left: 1em;
  }
  .description {
    height: 1.2em;
    overflow: hidden;
  }
  .underslides {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  label:hover {
    border-color: #ffffff;
    background-color: #ffffff;
    transition: all 0.5s;
  }

  #btn1:checked ~ .underslides > .description > .text {
    transform: translateY(-17px);
    transition: transform 0.5s;
  }
  #btn2:checked ~ .underslides > .description > .text {
    transform: translateY(-55px);
    transition: transform 0.5s;
  }
  #btn3:checked ~ .underslides > .description > .text {
    transform: translateY(-93px);
    transition: transform 0.5s;
  }
  #btn4:checked ~ .underslides > .description > .text {
    transform: translateY(-131px);
    transition: transform 0.5s;
  }
  #btn5:checked ~ .underslides > .description > .text {
    transform: translateY(-169px);
    transition: transform 0.5s;
  }